################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/roadmap/Getha.API/bin/Debug/net6.0
/roadmap/Getha.API/obj/Debug/net6.0
/roadmap/Getha.API/obj/staticwebassets.pack.sentinel


/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.suo
/roadmap/.vs/ProjectEvaluation
/roadmap/.vs/roadmap/DesignTimeBuild
